body {
  margin: 0 auto;
  padding: 80px 20px;
  max-width: 1440px;
}

.inner {
  min-width: 236px;
  margin: 40px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
  box-sizing: border-box;
  position: relative;
}

.cards .card {
  list-style-type: none;
  width: 316px;
}

.cards .card:nth-child(1) {
  background-color: hsl(31, 77%, 52%);
}

.cards .card:nth-child(2) {
  background-color: hsl(184, 100%, 22%);
}
.cards .card:nth-child(3) {
  background-color: hsl(179, 100%, 13%);
}

.cards .card .inner .icon > img {
  width: 52px;
}

.cards .card .inner h2 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: hsl(0, 0%, 95%);
  margin: 24px 0;
}

.cards .card .inner p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: hsla(0, 0%, 100%, 0.75);
}

.cards .card .inner button {
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(0, 0%, 95%);
  border-style: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 70px;
  padding: 12px 26px;
  color: hsla(0, 0%, 100%, 0.75);
  width: 140px;
  height: 50px;
  box-sizing: border-box;
}

.cards .card:nth-child(1) .inner button .btn-text {
  color: hsl(31, 77%, 52%);
}

.cards .card:nth-child(1) .inner button:hover .btn-text {
  color: hsl(0, 0%, 95%);
}

.cards .card:nth-child(2) .inner button .btn-text {
  color: hsl(184, 100%, 22%);
}

.cards .card:nth-child(2) .inner button:hover .btn-text {
  color: hsl(0, 0%, 95%);
}

.cards .card:nth-child(3) .inner button .btn-text {
  color: hsl(179, 100%, 13%);
}

.cards .card:nth-child(3) .inner button:hover .btn-text {
  color: hsl(0, 0%, 95%);
}

.cards .card .inner button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
  box-sizing: border-box;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  margin-top: 30px;
}
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (max-width: 768px) {

  .cards {
    width: 316px;
    flex-wrap: wrap;  
  }


}


